<!--Put a nav on the layout and a footer-->

<!DOCTYPE html>
<html lang="en">

<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</head>

<header>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- My style sheet -->
    <link href="../static/main_styles.css" rel="stylesheet" type="text/css"/>
    <title>{{title}}</title>

<!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/products">Girl Tech</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/join">Join</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Blog
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/product/0">Blog 1</a></li>
                            <li><a class="dropdown-item" href="/product/1">Blog 2</a></li>
                            <li><a class="dropdown-item" href="/product/2">Blog 3</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/products">All Blogs</a></li>
                        </ul>
                    </li>

                       <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Members
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/product/0">Meet Other Memebers</a></li>
                            <li><a class="dropdown-item" href="/product/1">Events</a></li>
                            <li>
                        </ul>
                    </li>


<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="/admin">Member</a>-->
<!--                    </li>-->

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            LogIn
                        </a>
                        <ul class="dropdown-menu">
                            {% if session['loggedIn'] == False %}
                            <li><a class="dropdown-item" href="/login">Login</a></li>
                            {% else %}
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="width:200px;">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>

            <!-- RIGHT SIDE: Login/Logout and optional search -->




<!-- First Container (bar with Girl Tech logo) -->
<!--<div class="container-fluid bg-2 text-center">
    <a name="Girl Tech"></a>
    <img src="/static/images/gt_logo.png" class="img-responsive img-rounded" style="display:inline"
         alt="Girl Tech Logo"
         width="10%" height="5%">
</div> -->

<body>
<!-- Second Container (main body content) -->
<div class="container-fluid bg-3 text-left">
    <h1>{{ title }}</h1>
    {% block body_content %}
    {% endblock %}
</div>


<!-- Footer -->
<footer class="container-fluid bg-4 text-start">
    <p>&copy; 2025 Girl Tech</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>