{% extends "layout.html" %}

{% block body_content %}
<section>
      {% if message %}
     <div class="alert alert-warning text-center">
        {{ message }}
     </div>
   {% endif %}

   <form action="" method="POST">
      <p><label for="username">Username: </label></p>
      <p><input type="text" id="username" name="username" required /></p>

      <p><label for="password">Password: </label></p>
      <p><input type="password" id="password" name="password" required /></p>

      <p><input type="submit" value="Log in" /></p>
   </form>
</section>
{% endblock %}
